.item{
    width: 1800px;
    display: flex;
    margin-top: 30px;
    flex-basis: 25%;
    transition: transform 0.5s;
    margin-right: 40px;
}
.cardplayer{
  display: flex;
  background-color: rgba(0, 0, 0, 0.95);
  background-image: url(https://t4.ftcdn.net/jpg/04/70/51/03/360_F_470510398_o317bp2hmQBL31zWWKUKkslTfVnNZqOI.jpg);
  overflow: scroll;
}
nav{
  display: flex;
  justify-content: space-between;
   background-color:#ffc03d;
  height: 70px;
}
input{
  height: 40px;
}
.submitsearch{
  height: 50px;
}
.divtitle{
  margin-left: 100px;
}
.divsearch{
  margin-right: 150px;
  justify-content: space-around;
}
/*Styliser le formulaire*/
form {
  /* On centre le formulaire */
  margin: 0 auto;
  width: 400px;
  /* Le contour du formulaire */
  padding: 1em;
  border: 3px solid color(display-p3 0.247 0.556 0.969);
  border-radius: 1em;
  width: 500px;
  height: 600px;
  align-items: center;
  background-color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Taille et alignement uniformes */
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-bottom: 25px;
}

input,
textarea {
  /* On s'assure que les champs texte ont la même police
     Par défaut, les zones de texte ont une police à chasse
     fixe. */
  font: 1em sans-serif;

  /* Taille uniforme pour des champs */
  width: 300px;
  box-sizing: border-box;

  /* On utilise la même bordure que pour le formulaire */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* On rajoute une mise en avant pour les éléments avec
     le focus. */
  border-color: #000;
}

textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
     libellé. */
  vertical-align: top;

  /* On fournit un peut d'espace pour saisir du texte. */
  height: 5em;

  /* On permet de redimensionner verticalement. */
  resize: vertical;
}

.button {
  /* On aligne les boutons avec les champs texte. */
  padding-left: 90px; /* La même taille que les libellés */
}

button {
  /* Une marge supplémentaire représentant approximativement
     le même espace qu'entre les libellés et les champs. */
  margin-left: 0.5em;
}
label{
  font-size: 20px;
}
li{
  display: flex;
  justify-content: space-between;
}
.added_film{
  padding: 1em;
  border: 3px solid color(display-p3 0.744 0.234 0.222);
  border-radius: 1em;
  width: 1000px;
  height: 640px;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/netflix-thanksgiving-movies-64de904b09410.jpg?crop=0.8888888888888888xw:1xh;center,top&resize=1200:*);
}
.div_de_creation_global{
  justify-content: space-around;
  display: flex;
  padding-top: 100px;
}
.title{
  background-color:#ffc03d;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 40px;
}
.title:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.div_band1{
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 50px;
}
.big_title{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div_formulaire{
  /* background-image: url(https://fr.web.img6.acsta.net/pictures/23/08/31/10/37/3301375.jpg); */
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/netflix-thanksgiving-movies-64de904b09410.jpg?crop=0.8888888888888888xw:1xh;center,top&resize=1200:*);
  padding: 30px;
  border-radius: 30px;
  border: 3px solid white;
}
.div_parent{
  background-color: #000;
  background-image: url(https://t4.ftcdn.net/jpg/04/70/51/03/360_F_470510398_o317bp2hmQBL31zWWKUKkslTfVnNZqOI.jpg);
  display: flex;
  width: 1900px;
  padding-top: 100px;
}
.navtitle{
  color: black;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.formulaire{
  margin-left: 100px;
}